<!-- sidebar.html -->
<div class="sidebar">
    <!-- Collapse Quản lý nhân viên -->
    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#employeeManagementCollapse" role="button" aria-expanded="false" aria-controls="employeeManagementCollapse">
        <i class="fas fa-users"></i> Quản lý nhân viên
    </a>
    <div class="collapse" id="employeeManagementCollapse">
        <ul class="list-unstyled ms-3">
            <li><a href="/employees/list" class="dropdown-item">Nhân viên đang làm việc</a></li>
            <li><a href="/employees/resigned" class="dropdown-item">Nhân viên đã nghỉ việc</a></li>
        </ul>
    </div>

    <a href="#"><i class="fas fa-building"></i> Quản lý phòng ban</a>
    <a href="#"><i class="fas fa-money-bill"></i> Quản lý lương</a>
</div>
