<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Nhân viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Include Header -->
<th:block th:replace="layout/header.html"></th:block>

<!-- Main Content -->
<div class="main">
    <!-- Include Sidebar -->
    <th:block th:replace="layout/sidebar.html"></th:block>

    <div class="content">
        <h1>Chào mừng đến trang Danh sách Nhân viên!</h1>
        <div class="mb-3">
            <a th:href="@{/employees/add}" class="btn btn-success">
                <i class="fas fa-plus"></i> Thêm Nhân viên
            </a>
        </div>
        <form th:action="@{/employees}" method="get" class="d-flex mb-3">
            <input type="text" name="keyword" class="form-control me-2"
                   placeholder="Tìm kiếm theo tên, email, số điện thoại..."
                   th:value="${keyword}" />
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Tìm kiếm
            </button>
        </form>

        <!-- Danh sách nhân viên -->
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Ngày vào làm</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${activeEmployees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${#dates.format(employee.hireDate, 'dd/MM/yyyy')}"></td>
                <td>
                    <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-primary">Chỉnh sửa</a>
                    <a th:href="@{/employees/delete/{id}(id=${employee.id})}" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
